.App {
  margin: 10px;
}

.inputfield {
  padding: 5px;
  margin-left: 10px;
}

.todo-board {
  padding-left: 10px;
  margin: 10px;
  width: 40rem;
  height: auto;
  border: 1px solid rgb(78, 78, 83);
}

.btn {
  margin: 10px;
}
